# Prerequisites
*.d

x64/
.vs 

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# tobii proprietary headers
/include/tobii

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
